/*****************************************************************************
  github-intro-publish
******************************************************************************/


@import '../../bower_components/bourbon/dist/_bourbon.scss';
@import '../../bower_components/neat/app/assets/stylesheets/_neat.scss';




/*****************************************************************************
  VARIABLES
******************************************************************************/
// Fonts
$font-stack: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;

// Gutter
$gutter: 20px;
$gutter-double: $gutter*2;
$gutter-half: $gutter/2;

// Colors
$color-white: #FFFFFF;
$color-green: #2ECC71;
$color-dark-grey: #333333;
$color-grey-hoki: #67809F;

$color-primary: $color-green;
$color-bg: $color-white;

// Values
$progress-bar-height: 30px;
$font-size-intro-title: 50px;
$font-size-intro-captions: 20px;
$tag-width: 30px;
$tag-height: 75px;


/*****************************************************************************
  BASE
******************************************************************************/
html, body {
  font-family: $font-stack;
  margin: 0;
  padding: 0;
  width: 100%;

  font-size: 18px;
  background-color: $color-bg;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
}


/*****************************************************************************
  Module Styles
******************************************************************************/

.progress-bar {
  margin-bottom: $gutter-double;
  &.bar-default{
    height: $progress-bar-height;
    width: 100%;
    background-color: $color-white;
    margin-bottom: $gutter-double;
  }

  .bar-filled{
    height: 100%;
    background-color: $color-primary;
    -webkit-transition: width 0.5s ease;
    -moz-transition: width 0.5s ease;
    -ms-transition: width 0.5s ease;
    transition: width 0.5s ease;
  }

  .bar-title {
    margin-left: $gutter-half;
    line-height: $progress-bar-height;
    color: $color-dark-grey;
    font-weight: bold;
    font-size: 12px;
    float: left;
  }
}

.form-container {
  margin-top: $gutter;
}

.progress {
  .progress-bar {
    text-align: left !important;
    span {
      padding-left: $gutter;
    }
  }
}

.hide-on-load {
  display: none;
}
.is-visible {
  display: block !important;
}

.progress {
  height: $progress-bar-height;
  .progress-bar {
    line-height: $progress-bar-height;
  }
}

.intro {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../images/desktop-01.jpg");
  background-size: cover;
  color: $color-white;
}
.overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.intro-title {
  text-align: center;
  opacity: 1;
  text-transform: uppercase;
  font-size: $font-size-intro-title;
  margin-bottom: $gutter-double;
}

.intro-content-container {
  text-align: center;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  display: table;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
  }
}

.content-wrap {
  display: inline-block;
  vertical-align: middle;
}

.caption {
  font-size: $font-size-intro-captions;
  display: block;
}

hr {
  width: 36px;
  margin: 24px auto;
}

.tag {
//  width: $tag-width;
//  height: $tag-height;
  background-color: $color-primary;
  position: fixed;
  bottom: 88px;
  left: -63px;
  color: $color-white;
  font-size: 12px;
  text-transform: uppercase;
  padding: 5px 15px;

  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);


  a {
    text-decoration: none;
    color: $color-white;
  }
}

.bli-logo {
  width: 18px;
  height: 12px;
  margin-bottom: 4px;
}