<!doctype html>
<html lang="en" ng-app="githubApp">
  <head>
    <meta charset="UTF-8">
    <title>github-intro-publish</title>

    <!-- build:css styles/vendor.css -->
    <link rel="stylesheet" type="text/css" href="../bower_components/normalize-css/normalize.css">
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="../bower_components/fontawesome/css/font-awesome.css"/>
    <!-- endbuild -->
    <link rel="stylesheet" href="styles/main.css">


    <!-- build:js scripts/main.js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
  </head>

  <body ng-controller="defaultCtrl">

    <div class="main-wrap">
        <h1>Intro to Publishing to Github</h1>

        <div class="progress-bar bar-default clearfix">
            <span class="bar-title">Question {{ currentStep+1 }} of {{ steps.length }}</span>
            <div class="bar-filled" style="width: {{progressPercentage}}%"></div>
        </div>

        <div ng-repeat="step in steps">
            <div>
                <h2>{{step.title}}</h2>
            </div>
            <img ng-src="{{ step.image }}" title="step.imageText" alt="{{ step.imageText }}"/>
            <div ng-if="step.subttile" style="background: yellow;"></div>
        </div>
    </div>


  </body>
</html>
